/* NAVTEST */
body {
  background-color: #f8f8f8;
  font-family: 'europa',Helvetica,Arial,sans-serif !important;
}

.navbar-default {
    background-color: #fff;
}

.arrow-up {
  position: relative;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  transform: translate(-50%, 0%);
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  /* .mobcol {
    width: 50%;
  } */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .mobcol {
    width: 25%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar {
    font-size: 12px;
  }
  .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-centered {
      transform: translate(-50%, -15%) !important;
  }
  .navbar-right {
    margin-right: 10%;
  }
  .navbar-left {
    margin-left: 5%;
  }

  .megamenu-content .row .row {
      margin: 3em 0px 1em;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .navbar {
    font-size: 12px;
  }
  .navbar-right {
    margin-right: 10%;
  }
  .navbar-left {
    margin-left: 10%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .navbar {
    font-size: 14px;
  }
  .navbar-right {
    margin-right: 15%;
  }
  .navbar-left {
    margin-left: 15%;
  }
}

.mobilemenu {
  background-color: #333;
  padding: 3em 2em 2em;
}

.mobilemenu h4,h5,h6 {
  color: #ccc;
  margin-top: 2em;
}

.mobilemenu hr {
  margin-right: 50%;
}

.mobilemenu li {
  font-size: 11px;
}

.mobilemenu a {
  color: #999;
}

.mobilemenu .row {
  margin-left: 0px;
  margin-right: 0px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 35em;
    opacity: 1;
}

.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
    position: static;
}
.megamenu .container {
    position: relative;
}
.megamenu .dropdown-menu {
    left: auto;
    line-height: 1;
    padding: 0;
    background-color: #333;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.megamenu .megamenu-content {
    color: #ddd;
}

.megamenu-content .img-responsive {
  height: auto;
  max-height: 35em;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.megamenu-content a {
  line-height: 1.4em;
  color: #aaa;
}

.megamenu-content a:hover {
  line-height: 1.4em;
  color: #fff;
}

.megamenu-content a:active {
  line-height: 1.4em;
  color: #aaa;
}

.megamenu-content h3 {
  margin-top: 2em;
}

.megamenu-content .form-control {
  background-color: #444;
  border-radius: 20px;
}

.container-2 {
  position: relative;
  float: right;
  padding-left: 0;
  height: 35em;
  overflow: hidden;
}

.heading {
  position: relative;
  top: 70%;
  left: 5em;
  /* padding: 1em; */
  text-align: left;
  color: #fff;
  /* background-color: rgba(0,0,0, 0.8); */
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.heading a {
  color: #fff;
  text-decoration: underline;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  height: auto;
  padding: 0px;
  margin-left: 0px !important;
}

.navbar-brand img {
  width: 100%;
  max-width: 170px;
  height: auto;
  margin-top: 10px;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px;
}

.navbar-cart {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px;
}

/* .menu-cart {
    position: relative;
    float: right;
    padding: 9px 10px 7px;
    margin: 7px 15px 7px;
    background-color: transparent;
    background-image: none;
    border: 0px;
} */
